body {
	box-sizing: border-box;
	background-color: #1B1818;
	height: 100vh;
	width:100vw;
	font-family: "Menlo-regular", "Helvetica";
}

#title {
	width: 100vw;
	height: 10vh;
	position: absolute;
	text-align: center;
	padding-top: 5vh;
}

h2 {
	font-size: 1em;
	font-family: "Menlo-regular";
	font-weight: normal;
	color: #C6B5B8;
}

#gameBoard {
	width: 80vw;
	height: 70vh;
	position: absolute;
	top: 13vh;
	right: 8vw;
	left: 8vw;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/25/2a/6e/252a6e8c27ec363de26492ba6234f509.jpg);
    z-index: -1;

}

.row {
	width: 100%;
	height: 33.33%;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

.column {
	width: 9.66%;
	height: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

marquee {
	position: absolute;
	bottom: 5vh;
	padding-top: 10px;
	z-index: +2;
	color: white;
}


li.bullet {
	position: absolute;
	left: 0;
	vertical-align: middle;
	background-color: green;
	height: 50px;
	width: 50px;
}

/*Divs for start menu and loss menu*/
.startGame, .gameLoss{
	background-color: #000000;
	height: 100vh;
	width: 100vw;
	color: white;
	text-align: center
}

/*h1 for start menu and loss menu*/
/*#gameTitle, */
#lossTitle, #ffPage{
	font-family: "Menlo-regular"
	font-size: 2em;
	width: 100vw;
	height: 100vh;
	color: white;
	display: inline-block;
	text-align: left;
	position: absolute;
	top: 30vh;
	right: 35vw;
	bottom: 35vh;
	left: 40vw;
}

#lossTitle {
	vertical-align: middle;
	padding-left: 2.5vw;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #F99157;
    position: absolute;
    padding-left: 5vw;
	padding-right: 35vw;
}

#replayGameB {
	text-align: left;
	position: absolute;
	top: 40vh;
	right: 40vw;
	bottom: 55vh;
	left: 40vw;
	padding: 0;
	padding-left: 4vw;
}

/*a:visited {
    text-decoration: none;
    color: #F99157;
}

a:hover {
    text-decoration: underline;
    color: #F99157;
}

a:active {
    text-decoration: underline;
    color: #F99157;
}*/

#green {
	color: #99CC99;
}

#white {
	color: white;
}

#blue {
	color: #66CCCC;
}

#red {
	color: #F2777A;
}

#yellow {
	color: #FFCC66;
}

#orange {
	color: #F99157;
}

.if {
	padding-left: 2.5vw;
	padding-right: 37.5vw;
}

.st {
	padding-left: 5vw;
	padding-right: 35vw;
}

/*#comp, #playerm {
	position: absolute;
    height: 33.33%;
    width: 9%;
    z-index: +1;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
}*/
