body {
	box-sizing: border-box;
	background-color: black;
	height: 100vh;
	width:100vw;
	font-family: "Menlo-regular", "Helvetica";
	color: white;
}

#title {
	width: 100vw;
	height: 10vh;
	position: absolute;
	text-align: center;
	padding-top: 5vh;
}

h2 {
	font-size: 1em;
	font-family: "Menlo-regular";
	font-weight: normal;
	color: white;
}

#gameBoard {
	width: 80vw;
	height: 70vh;
	position: absolute;
	top: 13vh;
	right: 8vw;
	left: 8vw;
	background-image: url("../images/gameBackground.png");
    z-index: -1;

}

.row {
	width: 100%;
	height: 33.33%;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

.column {
	width: 9.66%;
	height: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}


li.bullet {
	position: absolute;
	left: 0;
	vertical-align: middle;
	/*background-image: url("../images/codeBullet.png");*/
	height: 15px;
	width: 60px;
	/*background-repeat: no-repeat;
	background-size: cover;*/
	margin-top: 25vh;
	z-index: 0;
}

#bullet {
	position: relative;
	z-index: 0;
	height: 15px;
	width: 60px;
}

.startGame, .gameLoss{
	background-color: #000000;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center
}

#lossTitle, #ffPage{
	font-family: "Menlo-regular"
	font-size: 2em;
	width: 100vw;
	height: 100vh;
	color: white;
	display: inline-block;
	text-align: left;
	position: absolute;
	top: 30vh;
	right: 35vw;
	bottom: 35vh;
	left: 40vw;
}

#lossTitle {
	vertical-align: middle;
	padding-left: 2.5vw;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #F99157;
    position: absolute;
    padding-left: 5vw;
	padding-right: 35vw;
}

#replayGameB {
	text-align: left;
	position: absolute;
	top: 40vh;
	right: 40vw;
	bottom: 55vh;
	left: 40vw;
	padding: 0;
	padding-left: 4vw;
}

#green {
	color: #99CC99;
}

#white {
	color: white;
}

#blue {
	color: #66CCCC;
}

#red {
	color: #F2777A;
}

#yellow {
	color: #FFCC66;
}

#orange {
	color: #F99157;
}

.if {
	padding-left: 2.5vw;
	padding-right: 37.5vw;
}

.st {
	padding-left: 5vw;
	padding-right: 35vw;
}

.scoreBoard {
	text-align: left;
	position: absolute;
	top: 35vh;
	bottom: 60vh;
	left: 47.5vw;
	color: white;
}

#playerm, #playermu, #playermd, #comp {
	position: relative;
	z-index: +2;
}

#dizzy {
	position: relative;
	z-index: +3;
}

#playermd {
	margin-top: 10vh;
}

#playerm, #playermu {
	margin-top: 20vh;
}

#pageTurn, #jumpSound, #bulletSound, #spin, #hit {
	display: none;
}

#comp {
	margin-top: 13vh;
}
