body {
	box-sizing: border-box;
	background-color: #1B1818;
	height: 100vh;
	width:100vw;
	font-family: "Helvetica";
}

#title {
	width: 100vw;
	height: 10vh;
	position: absolute;
	text-align: center;
	padding-top: 5vh;
	font-size: 2em;
	font-weight: 900;
}

h2 {
	width: 100%;
	height: 100%;
	color: #C6B5B8;
}

#gameBoard {
	width: 80vw;
	height: 70vh;
	position: absolute;
	top: 13vh;
	right: 8vw;
	left: 8vw;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/25/2a/6e/252a6e8c27ec363de26492ba6234f509.jpg);
    z-index: -1;

}

.row {
	width: 100%;
	height: 33.33%;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

.column {
	width: 9.66%;
	height: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

marquee {
	padding-top: 10px;
	z-index: +2;
	color: #C6B5B8;
}


li.bullet {
	position: absolute;
	left: 0;
	vertical-align: middle;
	background-color: green;
	height: 50px;
	width: 50px;
}

.startGame, .gameLoss{
	background-color: #000000;
	height: 100vh;
	width:100vw;
	display: inline-block;
}

#gameTitle {
	font-size: 2em;
	width: 100%;
	height: 100%;
	color: #C6B5B8;
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 30vh;
	bottom: 35vh;
}

#startGameB, .replay {
	position: absolute;
	top: 60vh;
	right: 40vw;
	bottom: 30vh;
	left: 40vw;
	width: 20vw;
	display: inline-block;
}
/*#comp, #playerm {
	position: absolute;
    height: 33.33%;
    width: 9%;
    z-index: +1;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
}*/
